@model GrooveHub.Models.ViewModels.CancionesAlbumViewModel
@{
    ViewData["Title"] = "Album";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="canciones">
    <ul>
       @foreach (var cancion in Model.CancionesAlbumes)
        {
            <li>
                <img src="~/albumes/@(cancion.IdAlbum).jpg" alt="@cancion.Nombre" />
                <section>
                    <label>@cancion.Nombre</label>
                    <label>@cancion.AñoLanzamiento.ToString("yyyy")</label>
                    <label>@cancion.Duracion.ToString("mm\\:ss")</label>
                </section>
            </li>
        }
    </ul>
</section>