@model GrooveHub.Models.ViewModels.CancionesAlbumViewModel
@{
    ViewData["Title"] = "Album";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="LCanciones">
       @foreach (var cancion in Model.CancionesAlbumes)
        {
        <div class="cancion">
            <img src="~/albumes/@(cancion.IdAlbum).jpg" alt="@cancion.Nombre">
            <label>@cancion.Nombre</label>
            <label>@cancion.AñoLanzamiento.ToString("yyyy")</label>
            <label>@cancion.Duracion.ToString("mm\\:ss")</label>
        </div>
        }
</section>