
@{
    ViewData["Title"] = "Biografia";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="bio">
    <div id="imagenBio">
        <img src="Imagenes/sback.png" alt="" />
    </div>
    <div class="txtBio">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit
            amet ante vestibulum, faucibus quam vel, vestibulum ex. Mauris
            varius ullamcorper maximus. Curabitur aliquet vitae nisi eu
            malesuada. Ut placerat mi eu nisi pharetra, nec accumsan sapien
            rutrum. Nullam vel mauris leo. Suspendisse venenatis facilisis
            accumsan. Curabitur id metus eros. Mauris euismod et nibh id
            iaculis. Nulla ac augue eget ligula mollis efficitur. Praesent quis
            nunc vitae enim sagittis ullamcorper vel ac turpis. Etiam tristique
            quam nec nulla suscipit, eget convallis mauris aliquet. Phasellus
            tincidunt, diam et semper venenatis, lectus justo tempor ipsum,
            convallis tincidunt nisi mauris vitae nisl. Mauris rhoncus eget
            purus a condimentum. Aenean et ipsum magna. Proin consequat ante eu
            arcu scelerisque, sit amet vestibulum ipsum sodales. Nam quis ornare
            magna. Proin sagittis porta odio eu rutrum. Aliquam congue, sem
            rutrum vehicula blandit, orci est lobortis quam, eu porttitor lacus
            justo id sapien. Vivamus lobortis suscipit justo at sodales.
        </p>
    </div>
</section>