
@{
    ViewData["Title"] = "Cancion";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="canciones">
    <ul>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>

        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>
        <li>
            <img src="~/imagenesalbumes/17.jpg" alt="" />
            <section>
                <label>Chantaje</label>
                <label>2017</label>
                <label>2:50</label>
            </section>
        </li>

    </ul>
</section>