
@{
    ViewData["Title"] = "Cancion";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<ul>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
    <li>
        <img src="~/images/Chantaje.webp" alt="" />
        <section>
            <label>Chantaje</label>
            <label>2017</label>
            <label>2:50</label>
        </section>
    </li>
</ul>