@model GrooveHub.Models.ViewModels.DiscografiaAlbumesViewModel
@{
    ViewData["Title"] = "Discografia";
    Layout = "~/Views/Shared/Layout.cshtml";    
}
@*<section class="disc">
    <div class="fila">
            @foreach (var album in Model.Albumes)
            {
                <div class="columna">
                    <img src="~/albumes/@(album.Id).jpg" alt="@album.Titulo" />
                    <div class="tituloAlbum">
                        <h2>@album.Titulo</h2>
                        <div class="botonesAlbum">
                            <span>
                                <i class="fas fa-play"></i>
                                <a href="~/Home/Album/@album.Titulo.Replace(" ", "-")">
                                    <input type="button" value="Ver Canciones" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            }
    </div>
</section>*@
<section class="disc">
    <span>Albumes</span>
</section>
<div class="listAlbums">
    <div class="row">
        @foreach (var album in Model.Albumes)
        {
            <div class="column">
                <section class="AL">
                    <img id="imgAlb" src="~/albumes/@(album.Id).jpg" alt="" />
                    <label for="/Saul">@album.Titulo</label>
                    <span id="btn"><a href="~/Home/Album/@album.Titulo.Replace(" ", "-")">Ver canciones</a></span>
                </section>
            </div>
        }
        
    </div>
</div>