
@{
    ViewData["Title"] = "Discografia";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="lista">
    <ul>
        <li>
            <a href="~/Home/Cancion">
                <img src="~/imagenesalbumes/17.jpg" alt="" />
                <!-- <label>El dorado (2017)</label> -->
                El dorado (2017)
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/imagenesalbumes/17.jpg" alt="" />
                <!-- <label>El dorado (2017)</label> -->
                El dorado (2017)
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/imagenesalbumes/17.jpg" alt="" />
                <!-- <label>El dorado (2017)</label> -->
                El dorado (2017)
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/imagenesalbumes/17.jpg" alt="" />
                <!-- <label>El dorado (2017)</label> -->
                El dorado (2017)
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/imagenesalbumes/17.jpg" alt="" />
                <!-- <label>El dorado (2017)</label> -->
                El dorado (2017)
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/imagenesalbumes/17.jpg" alt="" />
                <!-- <label>El dorado (2017)</label> -->
                El dorado (2017)
            </a>
        </li>
    </ul>
</section>