
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="intro">
    <h1>Shakira Isabel Mebarak Ripoll</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
        massa nec tellus auctor consectetur. Sed blandit feugiat mollis.
        Curabitur accumsan interdum iaculis. Maecenas id dui in nibh
        hendrerit lobortis. Phasellus eget neque pellentesque, mollis tellus
        vel, fringilla nibh. Vestibulum vestibulum odio ac dui bibendum, sit
        amet vestibulum arcu lobortis. Quisque fermentum, enim non pretium
        commodo, lacus est semper nulla, et sagittis ipsum lectus vitae sem.
        Donec eu urna maximus, faucibus tellus id, dignissim mi. Sed pretium
        orci at sollicitudin suscipit. Vivamus commodo orci ut quam
        elementum, id dapibus est imperdiet. Vestibulum pharetra tincidunt
        purus, a consequat libero laoreet et. Vivamus eu posuere leo.
        Curabitur interdum elit quis justo porta, aliquam eleifend ante
        venenatis. Quisque dapibus porta tempus. Donec in nisl vestibulum,
        semper diam eu, elementum dolor.
    </p>
</div>