
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="VistaPrincipal">
    
    @*<div class="imagen"></div> *@
    <div class="m">
        <img class="m1" src="~/images/imgShakira.png" alt="" />
    </div>
    <div class="info">
        <h1>Shakira</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            ante neque, aliquet at tincidunt ut, sodales sed tortor. Etiam dui
            sem, pellentesque et justo sit amet, fermentum efficitur magna. Ut
            porttitor tellus ut augue convallis elementum. Aliquam erat
            volutpat. Ut fermentum sem sit amet arcu auctor, nec commodo lorem
            sodales.
        </p>
    </div>
</section>