@model GrooveHub.Areas.Admin.Models.AdminAgregarCancionViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post" action="~/Admin/Canciones/Agregar">
    <h1>Agregar Canción</h1>

    <div class="cont">
        <span>
            <label>Nombre:</label>
            <input type="text" id="txtNombre" asp-for="Cancion.Nombre" />
        </span>
        <span id="a">
            <label>Fecha de lanzamiento:</label>
            <input type="date" id="txtlanzamiento" asp-for="Cancion.AñoLanzamiento" /><br />
        </span>
        <span>
            <label>Duracion:</label>
            <input type="time" id="txtDuracion" asp-for="Cancion.Duracion" step="60"/><br />
        </span>
        <span>
            <label>Albúm:</label>
            <select asp-for="Cancion.IdAlbum" asp-items="@(new SelectList(Model.Albumes, "Id", "NombreAlbum"))">

            </select>
        </span>
    </div>

    <div class="Botones">
        <p id="Error">@Html.ValidationSummary(true)</p>
        <input type="submit" value="Agregar" id="btnAgregar" />
        <a href="~/Admin/Canciones/">
            <input type="button" value="Cancelar" id="btnCancelar" />
        </a>
    </div>
</form>