.VistaBio img {
  margin: auto;
  opacity: 0.3;
  width: 100%;
}

.texto {
  color: white;
  width: 60%;
  margin: 50px;
  text-align: justify;
}

.VistaBio {
  align-items: center;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.bio {
  position: absolute;
  display: flex;
  height: 50%;
  align-items: center;
}

.foto {
  background-image: url(images/shakira.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 160%; */
  text-align: center;
  /* position: absolute;
  right: 0; */
  /* width: 40%; */
  width: 400px;
  height: 450px;
  margin-right: 5px;
  box-shadow: -10px 15px 10px black;
}
