.canciones {
  width: 100%;
  overflow: hidden;
  height: 100%;
  overflow-y: scroll;
}

.canciones ul {
  list-style: none;
  margin: 15px;
  padding: 0;
}

    .canciones ul li {
        display: flex;
        background-color: #EBB02D;
        margin-bottom: 10px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 2px 2px 2px 2px black;
    }

.canciones ul li section {
  align-items: center;
  width: 100%;
  text-align: center;
}

.canciones ul li label {
  margin: 120px;
  font-size: 19px;
  height: auto;
  color: black;
  font-weight: bold;
}

.canciones ul li img {
  height: 90px;
  width: 90px;
  margin: 10px;
  border-radius:50px;
}
