body {
  background-color: #0b2447;
  height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  display: block;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

#logo {
  justify-content: center;
  vertical-align: middle;
  color: white;
  font-weight: bolder;
}

#logo label {
  font-size: 26px;
  vertical-align: middle;
  margin-left: 5px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.bio {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  overflow-y: auto;
  flex: 1;
  margin: 0;
}

.txtBio {
  width: 50%;
  bottom: 0;
  margin: 10px;
  color: white;
  text-align: justify;
}

.txtBio p {
  margin-right: 20px;
}

#imagenBio {
  width: 50%;
  overflow: hidden;
  height: 90vh;
}

#imagenBio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(33px 45px 5px black);
  position: relative;
  align-self: first baseline;
}

.disc {
  width: 95%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.fila {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.columna {
  flex-basis: calc(33.33% - 20px);
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.columna img {
  width: 100%;
}

.tituloAlbum {
  background: transparent;
  text-align: center;
  height: 99%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  justify-content: center;
  color: transparent;
}

.tituloAlbum:hover {
  background: rgba(68, 80, 105, 0.7);
}

.tituloAlbum:hover h2 {
  visibility: visible;
  color: white;
  font-size: 50px;
  margin: auto;
  padding-top: 30px;
}

.tituloAlbum h2 {
  font-weight: bold;
  position: absolute;
  transform: translateX(50%);
  top: 0;
  text-align: center;
  transition: 0.2s;
  visibility: collapse;
  color: transparent;
}

.botonesAlbum {
  position: absolute;
  top: 0;
  height: 99%;
  width: 100%;
  margin: auto;
  transform: translateY(50%);
  justify-content: center;
}

/* .botonesAlbum input {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 100%;
}  */

.botonesAlbum span {
  /* display: inline-block; */
  padding-right: 5px;
  display: block;
  justify-content: center;
  margin-bottom: 10px;
  visibility: hidden;
}

.botonesAlbum span input {
  height: 30px;
  margin: 0;
  background-color: #1b4242;
  border: 0;
  font-size: 18px;
  vertical-align: middle;
  border-radius: 4px;
  color: white;
  padding: 10px;
  line-height: 2px;
}

.botonesAlbum span input:hover {
  font-weight: bold;
}

.botonesAlbum span i {
  color: black;
  vertical-align: middle;
  font-size: 30px;
  margin-right: 5px;
  color: white;
}

.botonesAlbum span a {
  background-color: black;
  width: 30px;
}

#span2 {
  margin-left: 15px;
}

.tituloAlbum:hover span {
  visibility: visible;
}

@media (max-width: 700px) {
  .fila {
    flex-direction: column;
  }
}

.cancion {
  background-color: #3a4d39;
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5px;
  align-items: center;
}

.cancion img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin: 0;
  padding: 0;
  border-radius: 40px;
}

.cancion label {
  justify-content: space-between;
  font-size: 23px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.cancion:hover {
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1) translateY(-20px);
  background-color: #4f6f52;
  transition: all 1s;
}

.cancion:hover label {
  font-size: 30px;
  font-weight: bolder;
}

/* ESTILOS VISTAS ADMIN */

/* ESTILOS ADMIN BIO */
#FORMBIO {
  background-color: #213555;
  width: 80%;
  margin: auto;
  height: 100vh;
  border-radius: 4px;
}

#FORMBIO textarea {
  width: 85%;
  margin: auto;
  margin-left: 8%;
  height: 88%;
  margin-top: 15px;
}

.botones {
  text-align: center;
  margin-top: 5px;
  justify-content: space-evenly;
}

.botones input {
  background-color: #4f6f52;
  padding: 10px;
  padding-inline: 25px;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
}

/* ESTILOS ADMIN ALBUMES */
.agregarAlbum {
  margin-bottom: 25px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.agregarAlbum a input {
  background-color: #4f6f52;
  padding: 10px;
  padding-inline: 25px;
  font-weight: bold;
  color: white;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
}

.agregarAlbum a:hover {
  box-shadow: 2px 10px 5px 5px black;
}

.disc {
  margin-top: 20px;
}

/* ESTILOS ADMIN AGREGAR ALBUM */
.ADDADMINALBUM {
  margin-top: 30px;
}

.ADDADMINALBUM form {
  background-color: #213555;
  width: 80%;
  margin: auto;
  /* height: 90vh; */
  height: 100%;
  border-radius: 4px;
  align-items: center;
}

.ADDADMINALBUM form label {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.ADDADMINALBUM form input {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 400px;
  text-align: center;
}

.ADDADMINALBUM .datosADDAlbum {
  height: 70%;
  padding-top: 30px;
  text-align: center;
  color: white;
}

.ADDADMINALBUM .botones1 {
  text-align: center;
  margin-top: 5px;
  justify-content: space-evenly;
  margin: auto;
  width: 30%;
}

.ADDADMINALBUM .botones1 input {
  background-color: #4f6f52;
  padding: 10px;
  padding-inline: 25px;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  width: auto;
}

.ADDADMINALBUM .botones1 > a {
  margin-right: 15px;
}

#ERROR {
  color: red;
  font-weight: bold;
  margin: 0;
  text-align: center;
  opacity: 0.8;
}

/* ESTILOS ELIMINAR ALBUM */
#FORMDELETEALUBUM {
  color: white;
  text-align: center;
}

.datosDELETEAlbum {
  padding-top: 25px;
}

.datosDELETEAlbum label {
  padding-bottom: 15px;
}

/* ESTILOS CANCIONES ADMIN */
.CancionesADMIN {
  background-color: #6d8b74;
  width: 95%;
  padding: 10px;
  margin: 20px;
  color: white;
  font-weight: bolder;
  font-size: 23px;
  border-radius: 4px;
}

.cancionADMIN {
  background-color: #3a4d39;
  padding: 10px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 5px;
  align-items: center;
}

.cancionADMIN:hover {
  background-color: #6d8b74;
  transition: all 1s;
}

.cancionADMIN img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  margin: 0;
  padding: 0;
  border-radius: 40px;
}

.cancionADMIN label {
  justify-content: space-between;
  font-size: 23px;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* .eliminarcancion input {
  position: absolute;
  opacity: 0;
}

.eliminarcancion i {
  font-size: 25px;
  color: white;
  padding-left: 15px;
}

.eliminarcancion #editar {
  margin-left: 40px;
} */

.eliminarcancion {
  display: flex;
  justify-content: space-between;
}

.eliminarcancion button {
  background-color: transparent;
  border: 0;
}

.eliminarcancion i {
  font-size: 27px;
  color: white;
}

/* ESTILO SELECCIONADO */
nav li .seleccionado {
  text-decoration: underline;
}

/* ESTILOS FORM CANCIONES */
.ADDCANCIONADMIN {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 80vh;
}

#FORMADDCANCION {
  background-color: #19376d;
  padding: 0;
  /* transform: translateY(-5%); */
  width: 60%;
  border-radius: 4px;
}

#campAddCancion {
  margin: 15px;
}

.botonesADD {
  /* background-color: aqua;
  padding-top: 15px;
  justify-content: center;
  text-align: center; */
  height: 70%;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.botonesADD input {
  color: white;
  background-color: #4f6f52;
  padding: 10px;
  padding-inline: 25px;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  width: auto;
}

.InputB {
  margin-bottom: 18px;
}

.InputB input {
  width: 100%;
  font-size: 20px;
}

.InputB select {
  width: 100%;
  font-size: 20px;
}

.InputB span {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* ESTILOS LOG IN */
.LogIn {
  background-color: whitesmoke;
  width: 90%;
  display: flex;
  height: 80vh;
  margin: auto;
  border-radius: 10px;
  vertical-align: middle;
  transform: translateY(10%);
}

.LogImg {
  width: 45%;
}

.LogImg img {
  width: 100%;
  height: 100%;
  /* background-size: cover; */
  border-radius: 10px;
}

.LogDatos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 80vh;
  width: 45%;
  margin: auto;
  background-color: #dfdfde;
  border-radius: 25px;
}

#FORMLOGIN input {
  font-size: 17px;
}

#FORMLOGIN {
  width: 100%;
}

#FORMLOGIN span {
  color: black;
}

.data {
  margin: 20px;
}

#sitio {
  font-size: 30px;
  font-weight: bolder;
}

/* .ADDCANCIONADMIN {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 80vh;
} */

/* ESTILOS NUEVOOOSS */

.disc span {
  margin: auto;
  font-size: 45px;
  color: white;
  font-weight: bolder;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  margin: 20px;
  text-align: center;
}

.column {
  width: 93%;
  height: 68%;
  justify-content: space-between;
  margin: 0;
  margin: auto;
  padding: 0;
}

.column:hover {
  transform: translateY(-15px);
  transition: all 1s;
}

.AL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.AL label {
  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.AL span {
  visibility: hidden;
}

.AL span a {
  padding-top: 10px;
}

#imgAlb {
  width: 240px;
  height: 240px;
  padding-top: 10px;
}

.row .column:hover {
  background-color: #acbea3;
}

.row .column:hover .AL span {
  background-color: #826754;
  padding: 8px;
  border-radius: 5px;
}

.AL span a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  visibility: hidden;
}

.row .column:hover .AL span {
  visibility: visible;
}

.row .column:hover .AL span a {
  visibility: visible;
}

#btn:hover {
  filter: drop-shadow(5px 5px 5px black);
}

/* ESTILOS INDEX ALBUM ADMIN */
.LA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.LA label {
  font-weight: bold;
  font-size: ;
}

.LA .botonesADDMIN {
  padding-bottom: 20px;
}

.botonesADDMIN span {
  margin: 10px;
}

.botonesADDMIN i {
  font-size: 24px;
  color: white;
}

.r {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  margin: 20px;
  text-align: center;
}

.c {
  width: 93%;
  height: 68%;
  justify-content: space-between;
  margin: 0;
  margin: auto;
  padding: 0;
}

.LA label {
  padding-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.LA i:hover {
  transform: translateY(-5px);
}

.LA i:hover span {
  filter: drop-shadow(10px, 10px, 10px, 10px black);
}

.c:hover {
  background-color: #826754;
}

.formu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #826754;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.inputg {
  position: relative;
  margin: 20px 0;
}

.inputg label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-70%);
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.inputg input {
  width: 580px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 10px;
  background: transparent;
  border: 1.2px solid #fff;
  outline: none;
  border-radius: 5px;
}

    .inputg select {
        width: 600px;
        height: 40px;
        font-size: 16px;
        color: black;
        padding: 0 10px;
        background: transparent;
        border: 1.2px solid #fff;
        outline: none;
        border-radius: 5px;
    }


#albumE {
    transform: translateY(-70%);
}

    .inputg input:focus ~ label,
    .inputg input:valid ~ label {
        top: 0;
        font-size: 17px;
        background: #826754;
    }
.inputg select:focus ~ label,
.inputg select:valid ~ label {
    top: 0;
    font-size: 17px;
    background: #826754;
}

.btns input {
  background-color: #40476d;
  border: 0;
  color: white;
  padding: 8px;
  padding-inline: 13px;
  border-radius: 5px;
  margin: 10px;
}

.inputt {
  width: 580px;
  text-align: center;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

/* Estilos para el botón flotante */
.botonFlotante {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde la parte derecha */
  background-color: #826754; /* Cambia el color a tu preferencia */
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
  z-index: 999; /* Asegura que esté por encima del contenido */
}

#imagePreview{
    width:70px;
    height: 70px;
}

#bienvenida{
    text-align:center;
    color:white;
    font-size:30px;
    padding-top: 25px;
    font-weight: bold;
}

#logout{
  text-align:center;
}