@model GrooveHub.Areas.Admin.Models.AdminAgregarAlbumViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@*<form method="post" action="~/Admin/Albumes/Agregar" enctype="multipart/form-data">
    <h1>Agregar Álbum</h1>
    <div>
        <label>Nombre del álbum:</label>
        <input type="text" id="txtNombrealbum" asp-for="Album.TituloAlbum" /><br />
        <label>Año de lanzamiento:</label>
        <input type="datetime" asp-for="Album.FechaLanzamiento" /><br />
        <label>Imagen:</label>
        <input type="file" id="fileUpload1" asp-for="AlbumFile" accept="image/jpg" /><br />
        <img id="imagePreview" src="~/images/no-disponible.jpg" />
    </div>
    <div class="Botones">
        <p id="Error">@Html.ValidationSummary(true)</p>
        <input type="submit" value="Agregar" id="btnAgregar" />
        <a href="~/Admin/Albumes/"><input type="button" value="Cancelar" id="btnCancelar" /></a>
    </div>
</form>*@

<form class="formu" method="post" action="~/Admin/Albumes/Agregar" enctype="multipart/form-data">
    <div class="inputg">
        <input type="text" asp-for="Album.TituloAlbum" />
        <label for="">Titulo del album</label>
    </div>
    <div class="inputg">
        <input type="datetime" asp-for="Album.FechaLanzamiento" />
        <label for="">Año de lanzamiento</label>
    </div>
    <div class="inputg">
        <input type="file" id="txtfile" asp-for="AlbumFile" accept="image/jpg" />
        <label for="">Portada del album</label>
    </div>

    <div class="btns">
        <input type="submit" value="Agregar" />
        <a href="~/Admin/Albumes/"><input type="button" value="Cancelar" /></a>
        <p id="ERROR">@Html.ValidationSummary(true)</p>
    </div>
</form>
<script>

    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    document.getElementById('fileUpload1').addEventListener('change', function () {
        mostrarImagen(this);
    });
</script>