@model GrooveHub.Areas.Admin.Models.AdminAlbumesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@*<h1>Administrar Álbum</h1>
<a href="~/Admin/Albumes/Agregar"><img src="~/AdminVistas/add.png" /></a>
<div>
    <ul>
        @foreach (var album in Model.Albumes)
        {
            <li>
                <img src="~/albumes/@(album.Id).jpg" alt="@album.NombreAlbum" />
                <section>
                    <label>@album.NombreAlbum</label>
                    <a href="~/Admin/Albumes/Editar/@album.Id"><img src="~/AdminVistas/editb.png" /></a>
                    <a href="~/Admin/Albumes/Eliminar/@album.Id"><img src="~/AdminVistas/deleteb.png" /></a>
                </section>
            </li>
        }
    </ul>
</div>*@
<section class="listaC">
    <h1 id="titulo">Administrar Álbum</h1>
    <!-- <a><img src="add.png" /></a> -->
    <a href="~/Admin/Albumes/Agregar">
        <input id="btnAdd" type="button" value="Agregar Álbum" />
    </a>
    <ul>
        @foreach (var album in Model.Albumes)
        {
            <li>
                <section>
                    <img src="~/albumes/@(album.Id).jpg" alt="@album.NombreAlbum" />
                    <label>Titulo: @album.NombreAlbum</label>
                    <div>
                        <a href="~/Admin/Albumes/Editar/@album.Id"><img src="~/AdminVistas/editb.png" /></a>
                        <a href="~/Admin/Albumes/Eliminar/@album.Id"><img src="~/AdminVistas/deleteb.png" /></a>
                    </div>
                </section>
            </li>
        }
    </ul>
</section>