@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<p id="bienvenida">Bienvenido/a @User.Identity?.Name</p>
<p id="logout"><a href="~/Home/Logout">Cerrar sesión</a></p>