@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form action="">
    <h1>Shakira(Isabel Mebarak Ripoll)</h1>
    <textarea>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          vitae elit urna. Sed faucibus purus lorem, et rutrum justo rutrum
          tristique. Vestibulum sagittis lacinia enim. Vivamus eleifend
          vestibulum erat, interdum suscipit mauris tempor eu. Aliquam rhoncus
          sem a justo fermentum condimentum. Nullam in purus vitae erat ornare
          euismod. Suspendisse a elementum orci. Nunc congue felis tristique
          dolor hendrerit, scelerisque pulvinar mi ultrices. Proin nunc enim,
          suscipit nec felis nec, congue vestibulum felis.
          Sed gravida nisi in justo egestas, sit amet dignissim mauris
          dignissim. Proin ac accumsan risus. Suspendisse potenti. Nulla in nunc
          vel erat vestibulum dictum. Donec aliquam, metus a euismod
          sollicitudin, sapien enim lacinia quam, et ornare lacus turpis at
          diam. Nulla ac hendrerit nunc. Vivamus ac orci nec ligula ornare
          condimentum a sollicitudin sapien. Phasellus tempor ut turpis ut
          cursus. In leo libero, vestibulum quis tortor ut, auctor cursus lacus.
          Nam sed dictum nibh. Nullam diam ante, aliquam ac cursus posuere,
          vehicula sit amet neque. Mauris venenatis metus dolor. Phasellus
          varius porttitor ante, quis suscipit leo volutpat at.
        </textarea>
    <div class="B">
    <p id="E">No</p>
    <input type="button" value="Guardar" id="btnEditar" />
    <input type="button" value="Cancelar" id="btnCancelar" />
    </div>
</form>