<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
    <link rel="stylesheet" href="~/Principal1.css" />
    <link rel="stylesheet" href="~/Canciones1.css" />
    <link rel="stylesheet" href="~/Biografia1.css" />
    <link rel="stylesheet" href="~/Discografia1.css" />
</head>
<body>
    <header>
        <section class="logo">
            <img src="~/images/compact-disc-with-glare.png" alt="" />
            <a href="~/Home/Index">GrooveHub</a>
        </section>
        <nav class="menu">
            <ul>
                <li><a href="~/Home/Index" class="inicio">Inicio</a></li>
                <li><a href="~/Home/Biografia">Biografia</a></li>
                <li><a href="~/Home/Discografia">Discografia</a></li>
                <li><a href="#">Apariciones en tv</a></li>
                <li><a href="#">Inicio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>